In [0]:
import pandas as pd

## 실습에 활용한 예제

1. [국내 아이돌 평판지수 (csv)](http://bit.ly/ds-korean-idol)
2. [국내 아이돌 연봉, 가족수 (csv)](http://bit.ly/ds-korean-idol-2)

## DataFrame 로드

In [0]:
df = pd.read_csv('https://bit.ly/ds-korean-idol')
df2 = pd.read_csv('https://bit.ly/ds-korean-idol-2')

## 1. DataFrame 합치기 (concat)

### 1-1. Row 기준 합치기

In [0]:
df.head()

In [0]:
df_copy = df.copy()

In [0]:
df

In [0]:
df_copy

row에 합칠 때는 pd.concat에 합칠 데이터프레임을 list로 합쳐줍니다. row 기준으로 합칠 때는 **sort=False 옵션**을 주어 순서가 유지되도록 합니다.

In [0]:
pd.# 코드를 입력해 주세요

그런데, index가 꼬였습니다ㅠ reset_index() 로 인덱스를 초기화 해줄 수 있습니다.

In [0]:
df_concat = # 코드를 입력해 주세요

df_concat

In [0]:
df_concat.# 코드를 입력해 주세요

하지만, index라는 column이 추가 됩니다. 그럴때는 **drop=True** 옵션으로 새로 index column이 생성되지 않도록 만들어 줍니다.

In [0]:
df_concat.# 코드를 입력해 주세요

### 1-2. column 기준으로 합치기

이번에는 column 기준으로 횡 방향으로 합치도록 하겠습니다.

In [0]:
df

In [0]:
df2 = pd.read_csv('https://bit.ly/ds-korean-idol-2')
df2

column을 기준으로 합치고자 할 때는 **axis=1 옵션**을 부여합니다

In [0]:
pd.concat([df, df2], axis=1)

In [0]:
df3 = # 코드를 입력해 주세요

행의 갯수가 맞지 않는 상태에서 column concat

In [0]:
pd.# 코드를 입력해 주세요

In [0]:
df3

## 2. DataFrame 병합하기 (merge)

이전에 봤던 concat과 merge는 단순 합치는 목적과 특정 기준(index)으로 합치느냐에 
따라 용도가 다릅니다.

* concat: row나 column 기준으로 단순하게 이어 붙히기
* merge: 특정 고유한 키(unique id) 값을 기준으로 병합하기

In [0]:
df = pd.read_csv('https://bit.ly/ds-korean-idol')
df2 = pd.read_csv('https://bit.ly/ds-korean-idol-2')

In [0]:
df.head()

In [0]:
df2.head()

df와 df2는 **'이름' 이라는 column이 겹침**니다. 

따라서, 우리는 '이름'을 기준으로 두 DataFrame을 **병합**할 수 있습니다.

**pd.merge(left, right, on='기준column', how='left')**

* left와 right는 병합할 두 DataFrame을 대입합니다.
* on 에는 병합의 기준이 되는 column을 넣어 줍니다.
* how 에는 'left', 'right', 'inner', 'outer' 라는 4가지의 병합 방식중 한가지를 택합니다.

### 2-1. left, right 방식

먼저, 다음과 같이 df2 에서 5개의 데이터를 고의적으로 drop 해주겠습니다.

In [0]:
df2

In [0]:
df_right = df2.drop([1, 3, 5, 7, 9], axis=0)

In [0]:
df_right = df_right.reset_index(drop=True)

In [0]:
df_right

In [0]:
df_right

In [0]:
df

In [0]:
pd.concat([df, df_right], axis=1)

In [0]:
df

병합할 2개의 DataFrame의 행의 갯수가 맞지 않습니다. 실 사례에서도 충분히 있을 법한 일입니다.

'left' 옵션을 부여하면, left DataFrame에 키 값이 존재하면 해당 데이터를 유지하고, 병합한 right DataFrame의 값으 NaN이 대입 됩니다.

In [0]:
pd.# 코드를 입력해 주세요

반대로 'right' 옵션을 부여하면 right DataFrame을 기준으로 병합하게 됩니다.

현재, left DataFrame이 더 많은 데이터를 보유하고 있으니, right를 기준으로 병합하면 DataFrame 사이즈가 줄어들겠네요.

In [0]:
pd.# 코드를 입력해 주세요

위의 예제에서, right 를 기준으로 병합했기 때문에 DataFrame 사이즈가 줄어들었습니다.

### 2-2. inner, outer 방식

* inner 방식은 두 DataFrame에 모두 키 값이 존재하는 경우만 병합합니다.
* outer 방식은 하나의 DataFrame에 키 값이 존재하는 경우 모두 병합합니다.
* outer 방식에서는 없는 값은 NaN으로 대입됩니다.

In [0]:
df

In [0]:
df_right

In [0]:
pd.# 코드를 입력해 주세요

In [0]:
pd.# 코드를 입력해 주세요

### 2-3. column명은 다르지만, 동일한 성질의 데이터 인 경우?

In [0]:
df

In [0]:
df_right

In [0]:
df_right.columns = ['성함', '연봉', '가족수']

In [0]:
df_right

df와 df_right를 병합하려고 했더니, df에서는 '이름', df_right에서는 '성함'으로 표기되어 **기준이 되는 column을 지정할 수 없습니다**.

이럴 때는 left_on, right_on 옵션을 사용합니다.

In [0]:
pd.# 코드를 입력해 주세요