In [1]:
import pandas as pd

## 실습에 활용한 예제

[국내 아이돌 평판지수 (csv)](http://bit.ly/ds-korean-idol)

## DataFrame 로드

In [2]:
df = pd.read_csv('https://bit.ly/ds-korean-idol')

In [3]:
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

## 1. 데이터 타입별 column 선택 (select_dtypes)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   이름       15 non-null     object
 1   그룹       14 non-null     object
 2   소속사      15 non-null     object
 3   성별       15 non-null     object
 4   생년월일     15 non-null     object
 5   키        13 non-null     float64
 6   혈액형      15 non-null     object
 7   브랜드평판지수  15 non-null     int64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.1+ KB

### 1-1. 문자열이 있는 column 만 선택

In [ ]:
df.select_dtypes(exclude='object')

문자열이 포함된 DataFrame의 연산으로 발생되는 Error를 피하기 위해서는...

In [ ]:
df + 10

In [ ]:
df.select_dtypes(include='object') + 10

In [ ]:
df.select_dtypes(exclude='object') + 10

In [ ]:
num_cols = # 코드를 입력해 주세요

obj_cols = # 코드를 입력해 주세요

In [ ]:
df[obj_cols]

## 2. 원핫인코딩 (One-hot-encoding)

* 원핫인코딩은 한개의 요소는 True 그리고 나머지 요소는 False로 만들어 주는 기법입니다.
* 원핫인코딩을 왜 필요할까요?

In [ ]:
df = pd.read_csv('https://bit.ly/ds-korean-idol')

In [ ]:
df.head()

In [ ]:
blood_map = {
    'A': 0, 
    'B': 1,
    'AB': 2, 
    'O': 3,
}

In [ ]:
df['혈액형_code'] = df['혈액형'].map(blood_map)

In [ ]:
df.head()

In [ ]:
df['혈액형_code'].value_counts()

* 우리가 만약 df['혈액형_code']를 머신러닝 알고리즘에 그대로 넣어 데이터를 예측하라고 지시한다면, 컴퓨터는 '혈액형_code'안에서 **값들간의 관계를 스스로 형성**하게 됩니다.
* 이 상황에서 만약 B형은 1, AB형은 2라는 값을 가지고 있는데, 컴퓨터는 B형 + **AB형 = O형이다라고 잘못 관계**를 맺을 수 있게 됩니다.
* 따라서, 우리는 4개의 별도의 column을 형성해주고 1개의 column에는 True 나머지는 모두 False를 넣어 줌으로써 **A, B, AB, O형의 관계는 독립적이다**를 표현해줍니다.
* 이를 원핫인코딩이라고 합니다.

In [ ]:
df['혈액형_code']

In [ ]:
pd.get_dummies(df['혈액형_code'])

prefix를 설정하려면?

In [ ]:
# 코드를 입력해 주세요

나중에 머신러닝 알고리즘으로 발전하기 위해서는 꼭 알아야하는 개념입니다!

지금은 원핫인코딩의 개념만 이해하셔도 충분합니다^0^